/.idea/copyright/profiles_settings.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/.gitignore
/.idea/gen-atomic.iml
/.idea/misc.xml
/.idea/modules.xml
/.idea/vcs.xml
__pycache__/
.idea/
/.mypy_cache/
/.pytest_cache/
*.code-workspace
